*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width: 100%;
    height: auto;
    display: flex;
    background: rgb(15, 23, 42);
    color: white;
    padding: 100px 200px 100px 200px;
    font-family: Arial, sans-serif;
}
.left_block{
    width: 50%;
    height: calc(100vh - 200px);
    color: rgb(126, 146, 184);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.left_text{
    width: 100%;
    height: 50%;
}
.left_block h1{
    font-size: 60px;
    height: 60px;
    color: rgb(196, 208, 236);
}
.left_block h3{
    font-size: 23px;
    height: 30px;
    color: rgb(197, 209, 236);
}
.left_text_p{
    margin-bottom: 60px;
    font-size: 19px;
    line-height: 1.4;
}
.social_media{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.social_media a:hover svg{
    fill: rgb(84, 211, 212);
}
.section{
    width: 25%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}
.section hr{
    width: 15%;
    border: 0.1px solid rgba(91, 111, 148);
    transition: 0.3s;
}
.section:hover{
    color: white;
}
.section:hover hr{
    width: 35%;
    border-color: white;
    border-width: 1px;
}
.right_block{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    color: rgb(141, 159, 186);
}
.about{
    width: 91%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about p{
    line-height: 1.6;
    font-size: 17px;
}
a{
    text-decoration: none;
}