* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 100%;
    height: auto;
    display: flex;
    background: rgb(15, 23, 42);
    color: white;
    padding: 10vh 10vw 10vh 10vw;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.left_block {
    width: 50%;
    height: calc(100vh - 20vh);
    color: rgb(126, 146, 184);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}

.left_text {
    width: 100%;
    height: 50%;
}

.left_text a{
    width: 10vw;
}

.left_block h1 {
    max-width: 80%;
    font-size: clamp(0.1rem, 4vw, 4rem);
    height: auto;
    color: rgb(196, 208, 236);
    min-height: 5vw;
    max-height: 10vw;
}

.left_block h3 {
    font-size: clamp(0.1rem, 1.5vw, 2rem);
    height: 2vw;
    color: rgb(197, 209, 236);
}

.left_text_p {
    margin-bottom: 8vh;
    height: auto;
    font-size: clamp(0.1rem, 1.3vw, 1.3rem);
    line-height: 1.4;
}

.social_media {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5vw;
}

.social_media a:hover svg {
    fill: rgb(84, 211, 212);
}

.section {
    width: 100%;
    height: 3.7vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5vw;
    font-size: clamp(0.1rem, 0.8vw, 0.8rem);
    font-weight: bold;
    cursor: pointer;
}

.section hr {
    width: 15%;
    border: 0.01vw solid rgba(91, 111, 148);
    transition: 0.3s;
}

.section:hover {
    color: white;
}

.section:hover hr {
    width: 35%;
    border-color: white;
    border-width: 0.05vw;
}

.right_block {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    color: rgb(141, 159, 186);
    margin-left: auto;
    z-index: 1;
}

.about {
    width: 91%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}

.about_me {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    margin-bottom: 10vw;
}

.about_me p {
    line-height: 1.6;
    font-size: clamp(0.1rem, 1vw, 2rem);
}

.about_me span {
    color: rgb(196, 208, 236);
    font-weight: bold;
}

.about_me h2{
    font-size: clamp(0.1rem, 2vw, 2rem);
    color: rgb(196, 208, 236);
    margin-top: 2vw;
}

.experience {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}

.example {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 5px;
    padding: 1.5vw;
    transition: 0.3s;
    cursor: pointer;
}

.example:hover {
    background: rgba(23, 31, 50);
}

.example:hover h3 {
    color: rgb(81, 201, 205);
}

.date {
    width: 7.5vw;
    height: 100%;
    font-size: clamp(0.1rem, 1vw, 0.8rem);
}

.example h3 {
    margin-bottom: 0.7vw;
    color: rgb(196, 208, 236);
    font-size: clamp(0.1rem, 2vw, 1.5rem);
}

.example p {
    width: 29.5vw;
    font-size: clamp(0.1rem, 1vw, 0.9rem);
    margin-bottom: 1.5vw;
    line-height: 1.4;
}

.prog_lang {
    width: 80%;
    height: auto;
    display: flex;
    gap: 1vw;
}

.lang {
    width: auto;
    padding: 0.5vw 1vw 0.5vw 1vw;
    background: rgba(18, 43, 57);
    border-radius: 20px;
    color: rgba(94, 234, 207);
    font-size: clamp(0.1rem, 1vw, 0.9rem);
}

.experience h2 {
    font-size: clamp(0.1rem, 1.2vw, 1.2rem);
    color: white;
    cursor: pointer;
}

.experience h2:hover {
    color: rgba(94, 234, 207);
}

.example:hover span {
    padding: 0 0 10px 5px;
    transition: 0.15s;
}

.experience h2:hover span {
    margin-left: 0.5vw;
    transition: 0.3s;
}

a {
    text-decoration: none;
    color: rgb(126, 146, 184);
    display: flex;
}

.shiny_block {
    width: 41vw;
    height: 41vw;
    border-radius: 100%;
    background: rgb(15, 23, 42);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 30%;
    translate: -50% -55%;
    margin: 40px auto;
    border-radius: 100%;
}

.shiny_block::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    bottom: -10px;
    z-index: -1;
    background: linear-gradient(135deg, rgb(38, 68, 144), rgb(15, 23, 42));
    filter: blur(100px);
    opacity: 0.7;
    border-radius: 100%;
}

.section.active{
    color: white;
}

.section.active hr{
    width: 35%;
    border-color: white;
    border-width: 0.05vw;
}

.ukraine{
    width: 3vw;
    position: absolute;
    top: -3vw;
    left: -8vw;
    cursor: pointer;
}

.england{
    width: 3.8vw;
    position: absolute;
    top: -2.9vw;
    left: -4vw;
    cursor: pointer;
}